@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add EquipExtended font */
@font-face {
  font-family: 'EquipExtended';
  src: url('/assets/font/EquipExtended-Regular.ttf') format('truetype'); /* Regular */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EquipExtended';
  src: url('/assets/font/EquipExtended-Bold.ttf') format('truetype'); /* Bold */
  font-weight: 700;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');





/* Light mode colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body styles */
body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: 'EquipExtended', sans-serif;  */
  font-family: 'Inter', sans-serif;
    margin: 0;
  padding: 0;
  font-size: 16px; /* Add a default font size */
}

