@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add EquipExtended font */
@font-face {
  font-family: 'EquipExtended';
  src: url('/assets/font/Inter_28pt-Regular.ttf') format('truetype'); /* Regular */
  font-weight: 400;
  font-style: normal;
}






/* Light mode colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'EquipExtended', sans-serif;
    margin: 0;
  padding: 0;
  font-size: 16px; }

